@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
	--select-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px
		-15px rgba(22, 23, 24, 0.2);

	--breakpoint-md: 25rem;

	--animate-loading: --loading 2s alternate ease-in-out infinite;

	@keyframes --loading {
		0% {
			color: red;
			letter-spacing: initial;
			font-size: 1.5rem;
		}
		50% {
			letter-spacing: 3px;
			color: blue;
			font-size: 3rem;
		}
		100% {
			color: green;
			font-size: 1.5rem;
			letter-spacing: initial;
		}
	}
}
